ion-avatar{
  width:100% !important;
height : 100% !important;
max-width: 200px !important;  //any size
max-height: 200px !important;
margin-left: 90px;
margin-top: 30%;
}
ion-grid{
  width: 450px;
  height: 210px;
   margin-top: 40%;
  background-color: rgba(71, 43, 149, 0.712);
}
