<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      Top 50 Coins
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <strong>Salem's Pick</strong>
  </div>
<ion-list>
  <ion-item *ngFor="let coin of this.topcoin | slice:0:49" >
    <ion-card (click)="coindetail(coin?.id)">
      <ion-grid>
        <ion-row>

          <ion-col size="4">
            <ion-img src="https://dkhpfm5hits1w.cloudfront.net/{{coin?.n?.toLowerCase()}}.png"></ion-img>

          </ion-col>

          <ion-col size="6" style="margin-top: 9%; margin-left: 2%;">
            <ion-label> {{coin?.s}}</ion-label><br>
            <ion-label>{{coin?.gs}}</ion-label>
          </ion-col>

          <ion-col size="1">
            <ion-icon name="chevron-forward-outline" ></ion-icon>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-item>
</ion-list>


</ion-content>
